<section style="height: 550px;">
    <mat-card class="card-interna">
        <mat-card-title style="text-align: center;">Cupo de crédito</mat-card-title>
        <mat-card class="card-interna">
            

            <mat-card-content >

                <div *ngIf="cupoCredito === null">
                    <div class="alert alert-info" style="text-align: center;" role="alert">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" 
                        style="font-size: 50px;">announcement</mat-icon>
                        <h4 >El cliente no tiene un cupo de crédito asignado.</h4>
                    </div>
                </div>

                



                <div *ngIf="cupoCredito !== null" class="row ">
                    <div class="col ">
                        <div class="row item-credit d-flex justify-content-center">
                            <div>
                                <h4 style="width: 350px;">Cupo total disponible</h4>
                                <ng-container *ngIf="cupoCredito.totalSizeCredit-cupoCredito.sizeCreditUsed>=0">                               
                                     <h6>{{(cupoCredito.totalSizeCredit-cupoCredito.sizeCreditUsed)|currency:moneda:"symbol"}}</h6>
                                    </ng-container>
                                       <ng-container *ngIf="(cupoCredito.totalSizeCredit-cupoCredito.sizeCreditUsed)<0">                               
                                        <h6>{{0|currency:moneda:"symbol"}}</h6>
                                       </ng-container>

                            </div>
                        </div>

                        <div class="row item-credit d-flex justify-content-center">
                            <div>
                                <h4 style="width: 350px;">Cupo total asignado</h4>
                                <h6>{{cupoCredito.totalSizeCredit|currency:moneda:"symbol"}}</h6>
                            </div>
                        </div>

                        <div class="row item-credit d-flex justify-content-center">
                            <div >
                                <h4 style="width: 350px;">Cupo total en uso</h4>
                                <h6>{{cupoCredito.sizeCreditUsed|currency:moneda:"symbol"}}</h6>
                            </div>
                        </div>
                    </div>


                    <div class="col">
                        <div class="row item-credit d-flex justify-content-center">
                            <div>
                                <h4 style="width: 350px;">Última actualización del cupo</h4>
                                <h6>{{cupoCredito.dateLastStudyCredit}}</h6>
                            </div>
                        </div>

                        <div class="row item-credit d-flex justify-content-center">
                            <div>
                                <h4 style="width: 350px;">Estado cupo crediticio</h4>
                                <h6>{{cupoCredito.statusCredit.description}}</h6>
                            </div>
                        </div>
                    </div>

                </div>
            </mat-card-content>

            <mat-card-actions class="d-flex justify-content-center">
                <div class="row">
                    <ng-container *ngIf="cupoCredito !== null">
                    <div *ngIf="cupoCredito.statusCredit.status == 'Activo'" class="col button-item-credit">
                        <button class="btn btn-lg" color="warn" mat-flat-button  (click)="BloquearCupo()" style="width: 255px;">Bloquear cupo</button>
                    </div>

                    <div  *ngIf="cupoCredito.statusCredit.status == 'Bloqueado'"  class="col button-item-credit">
                        <button class="btn"   style="background-color: #218838; width: 255px;" mat-flat-button  (click)="DesbloquearCupo()">Desbloquear cupo</button>
                    </div>

                  </ng-container>
                    <div class="col button-item-credit">
                        <button class="btn btn-lg" color="accent" mat-flat-button type="button" style="width: 255px;" (click)="GenerarCupoAutmatico()" >Generar cupo automaticamente</button>
                    </div>

                    <div class="col button-item-credit" *ngIf="cupoCredito !== null">
                        <button class="btn btn-lg" color="accent" mat-flat-button (click)="asignarCupo()" style="width: 255px;" type="button">Asignar cupo manualmente</button>
                    </div>

                </div>
            </mat-card-actions>


        </mat-card>


    </mat-card>
</section>