<section>
    <mat-card class="card-interna">

        <mat-card class="card-interna">
            <mat-card-title style="text-align: center;">Cupo de crédito</mat-card-title>

            <mat-card-content >

                <div *ngIf="cupoCredito === null">
                    <div class="alert alert-info" style="text-align: center;" role="alert">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" 
                        style="font-size: 50px;">announcement</mat-icon>
                        <h4 >El cliente no tiene un cupo de crédito asignado.</h4>
                    </div>
                </div>

                



                <div *ngIf="cupoCredito !== null" class="row ">
                    <div class="col ">
                        <div class="row item-credit d-flex justify-content-center">
                            <div>
                                <h4 style="width: 350px;">Cupo total disponible</h4>
                                <h6>{{(cupoCredito.totalSizeCredit-cupoCredito.sizeCreditUsed)|currency:moneda:"symbol"}}</h6>
                            </div>
                        </div>

                        <div class="row item-credit d-flex justify-content-center">
                            <div>
                                <h4 style="width: 350px;">Cupo total asignado</h4>
                                <h6>{{cupoCredito.totalSizeCredit|currency:moneda:"symbol"}}</h6>
                            </div>
                        </div>

                        <div class="row item-credit d-flex justify-content-center">
                            <div >
                                <h4 style="width: 350px;">Cupo total en uso</h4>
                                <h6>{{cupoCredito.sizeCreditUsed|currency:moneda:"symbol"}}</h6>
                            </div>
                        </div>
                    </div>


                    <div class="col">
                        <div class="row item-credit d-flex justify-content-center">
                            <div>
                                <h4 style="width: 350px;">Última actualización del cupo</h4>
                                <h6>{{cupoCredito.dateLastStudyCredit}}</h6>
                            </div>
                        </div>

                        <div class="row item-credit d-flex justify-content-center">
                            <div>
                                <h4 style="width: 350px;">Estado cupo crediticio</h4>
                                <h6>{{cupoCredito.statusCredit.description}}</h6>
                            </div>
                        </div>
                    </div>

                </div>
            </mat-card-content>

            <mat-card-actions class="d-flex justify-content-center">
                <div class="row">
                    <ng-container *ngIf="cupoCredito !== null">
                    <div *ngIf="cupoCredito.statusCredit.status == 'Activo'" class="col button-item-credit">
                        <input class="btn btn-danger" type="button"  (click)="BloquearCupo()" value="Bloquear cupo">
                    </div>

                    <div  *ngIf="cupoCredito.statusCredit.status == 'Bloqueado'"  class="col button-item-credit">
                        <input class="btn btn-success" type="button"  (click)="DesbloquearCupo()" value="Desbloquear cupo">
                    </div>

                  </ng-container>
                    <div class="col button-item-credit">
                        <input class="btn color-binance" type="button" (click)="GenerarCupoAutmatico()" value="Generar cupo automaticamente">
                    </div>

                    <div class="col button-item-credit" *ngIf="cupoCredito !== null">
                        <input class="btn color-binance" (click)="asignarCupo()" type="button" value="Asignar cupo manualmente">
                    </div>

                </div>
            </mat-card-actions>


        </mat-card>


    </mat-card>
</section>