<section class="container">
    <mat-card class="card-interna">
        <mat-card-title style="text-align: center;">Gestión de parametros del crédito</mat-card-title>
        <mat-card-content [formGroup]="formG">

            <div class="container">
                <div class="col">

                    <div class="row d-flex justify-content-center">


                        <mat-form-field floatLabel="always" appearance="outline" style="width: 80%;">

                            <mat-label style="font-size: x-large">Nombre país</mat-label>

                            <input type="text" placeholder="nombre" matInput formControlName="idPais"
                                [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-autocomplete>

                            <mat-error *ngIf="hasErros('idPais') && getFc('idPais').errors.required">
                                {{messageError.getMessageRequired("nombre pais")}}</mat-error>
                        </mat-form-field>

                        <mat-icon aria-hidden="false" aria-label="Example home icon" color="accent"
                            style="font-size: 50px; vertical-align: top">search</mat-icon>

                        <div class="col form-group" style="margin-inline-start: 50px;
                        margin-block-start: 10px;">
                            <button (click)="buscarCiudades()" mat-raised-button class="color-binance align-middle"
                                [disabled]="getFc('idPais').errors">Buscar</button>
                        </div>
                    </div>
                </div>

            </div>


            <div class="container card-interna">
                <div class="col">
                    <div class="row item-control">
                        <div class="col">
                            <h6 class="item-title">Valor unidad por punto : </h6>
                        </div>
                        <div class="col">
                            <mat-form-field>
                                <input (change)="updateValorPunto('idPais',$event.target.value)"  [disabled]="configPais" [value]="getValorPunto('idPais')" matInput
                                    type="number">
                            </mat-form-field>
                        </div>

                        <div class="col">
                            <input [disabled]="configPais" class="item-title btn" type="button"
                               (click)="saveValorPunto('idPais')" value="guardar">
                        </div>

                    </div>


                    <div class="row item-control">
                        <div class="col">
                            <h6 class="item-title">Puntaje país : </h6>
                        </div>

                        <div class="col">
                            <mat-form-field>
                                <input (change)="changePuntaje('idPais',$event.target.value)" [disabled]="configPais" [value]="puntajePais" matInput
                                    type="number">
                            </mat-form-field>
                        </div>

                        <div class="col">
                            <input [disabled]="configPais" class="item-title btn" type="button"
                               (click)="setUpdatePuntaje('idPais')" value="guardar">
                        </div>

                    </div>

                    <div *ngIf="!configPais" class="row item-control">
                        <div class="col">
                            <h6 class="item-title">100 puntos en {{nombrePais}} son : {{valorPunto*100 |currency:moneda:"symbol"}} </h6>
                        </div>
                    </div>


                </div>
            </div>










            <div class="container card-interna">
                <div class="col">
                    <div class="row item-control">

                        <div class="col">
                            <h4>Parametro</h4>
                        </div>


                        <div class="col">
                            <h4>Registro</h4>
                        </div>


                        <div class="col">
                            <h4>Puntaje</h4>
                        </div>



                        <div class="col">
                            <h4>Acción</h4>
                        </div>
                    </div>

                    <div class="row item-control">

                        <div class="col">
                            <div class="align-middle">
                                <h6 class="item-title">Ciudad</h6>
                            </div>
                        </div>

                        <div class="col">
                            <mat-form-field appearance="fill">
                                <mat-label>Seleccionar ciudad</mat-label>
                                <mat-select formControlName="idCiudad" required>
                                    <mat-option>--</mat-option>
                                    <mat-option *ngFor="let ciudad of listCiudades" [value]="ciudad">{{ciudad.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="hasErros('idCiudad') && getFc('idCiudad').errors.required">
                                    {{messageError.getMessageRequired(" Ciudad ")}}</mat-error>
                            </mat-form-field>

                        </div>

                        <div class="col">
                            <mat-form-field>
                                <input (change)="changePuntaje('idCiudad',$event.target.value)" [disabled]="getFc('idCiudad').errors" [value]="getPuntaje('idCiudad')" matInput
                                    type="number">
                            </mat-form-field>
                        </div>

                        <div class="col">
                            <input [disabled]="getFc('idCiudad').errors" class="item-title btn" type="button"
                               (click)="setUpdatePuntaje('idCiudad')" value="guardar">
                        </div>

                    </div>

                    <div class="row item-control">
                        <div class="col">
                            <div>
                                <h6 class="item-title">Estrato economico</h6>
                            </div>
                        </div>

                        <div class="col">
                            <mat-form-field appearance="fill">
                                <mat-label>Seleccionar estrato</mat-label>
                                <mat-select formControlName="idEstrato" required>
                                    <mat-option>--</mat-option>
                                    <mat-option *ngFor="let estrato of listEstratoEco" [value]="estrato">
                                        {{estrato.numClassEconomic}}</mat-option>
                                </mat-select>

                                <mat-error *ngIf="hasErros('idEstrato') && getFc('idEstrato').errors.required">
                                    {{messageError.getMessageRequired(" Estrato ")}}</mat-error>

                            </mat-form-field>
                        </div>
 


                        <div class="col">
                            <mat-form-field>
                                <input (change)="changePuntaje('idEstrato',$event.target.value)" [disabled]="getFc('idEstrato').errors" [value]="getPuntaje('idEstrato')" matInput
                                    type="number">
                            </mat-form-field>
                        </div>

                        <div class="col">
                            <input [disabled]="getFc('idEstrato').errors" class="item-title btn" type="button"
                               (click)="setUpdatePuntaje('idEstrato')" value="guardar">
                        </div>


                    </div>


                    <div class="row item-control">
                        <div class="col">
                            <div>
                                <h6 class="item-title">Rango antiguedad</h6>
                            </div>
                        </div>
                        <div class="col">
                            <mat-form-field appearance="fill">
                                <mat-label>Seleccionar rango</mat-label>
                                <mat-select formControlName="idRangoAnt" required>
                                    <mat-option>--</mat-option>
                                    <mat-option *ngFor="let rango of listRangoAntiguedad" [value]="rango">
                                        {{rango.rangeOld}}</mat-option>
                                </mat-select>

                                <mat-error *ngIf="hasErros('idRangoAnt') && getFc('idRangoAnt').errors.required">
                                    {{messageError.getMessageRequired(" Rango antiguedad ")}}</mat-error>
                            </mat-form-field>
                        </div>


                      
                        <div class="col">
                            <mat-form-field>
                                <input (change)="changePuntaje('idRangoAnt',$event.target.value)" [disabled]="getFc('idRangoAnt').errors" [value]="getPuntaje('idRangoAnt')" matInput
                                    type="number">
                            </mat-form-field>
                        </div>

                        <div class="col">
                            <input [disabled]="getFc('idRangoAnt').errors" class="item-title btn" type="button"
                               (click)="setUpdatePuntaje('idRangoAnt')" value="guardar">
                        </div>


                    </div>


                    <div class="row item-control">
                        <div class="col">
                            <div>
                                <h6 class="item-title">Producto telefonia</h6>
                            </div>
                        </div>

                        <div class="col">
                            <mat-form-field appearance="fill">
                                <mat-label>Seleccionar plan</mat-label>
                                <mat-select formControlName="idProducto" required>
                                    <mat-option>--</mat-option>
                                    <mat-option *ngFor="let product of listProductosTelefonia" [value]="product">
                                        {{product.nameProduct}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="hasErros('idProducto') && getFc('idProducto').errors.required">
                                    {{messageError.getMessageRequired(" Producto telefonia ")}}</mat-error>
                            </mat-form-field>
                        </div>


                        <div class="col">
                            <mat-form-field>
                                <input (change)="changePuntaje('idProducto',$event.target.value)" [disabled]="getFc('idProducto').errors" [value]="getPuntaje('idProducto')" matInput
                                    type="number">
                            </mat-form-field>
                        </div>

                        <div class="col">
                            <input [disabled]="getFc('idProducto').errors" class="item-title btn" type="button"
                               (click)="setUpdatePuntaje('idProducto')" value="guardar">
                        </div>



                    </div>

                    <div class="row item-control">

                        <div class="col">
                            <div>
                                <h6 class="item-title">Cantidad productos activos</h6>
                            </div>
                        </div>

                        <div class="col">
                            <mat-form-field appearance="fill">
                                <mat-label>Seleccionar cantidad</mat-label>
                                <mat-select formControlName="idRangoCant" required>
                                    <mat-option>--</mat-option>
                                    <mat-option *ngFor="let rango of listRangosCantidad" [value]="rango">
                                        {{rango.rangeAmountProducts}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="hasErros('idRangoCant') && getFc('idRangoCant').errors.required">
                                    {{messageError.getMessageRequired(" Rango cantidad de productos ")}}</mat-error>
                            </mat-form-field>
                        </div>



                       

                        <div class="col">
                            <mat-form-field>
                                <input (change)="changePuntaje('idRangoCant',$event.target.value)" [disabled]="getFc('idRangoCant').errors" [value]="getPuntaje('idRangoCant')" matInput
                                    type="number">
                            </mat-form-field>
                        </div>

                        <div class="col">
                            <input [disabled]="getFc('idRangoCant').errors" class="item-title btn" type="button"
                               (click)="setUpdatePuntaje('idRangoCant')" value="guardar">
                        </div>


                    </div>





                </div>
            </div>

        </mat-card-content>

    </mat-card>
</section>