<section>

    <mat-card>
        <mat-card-title style="text-align: center;">
            Perfil Cliente
        </mat-card-title>

        <mat-card-content class="container">
            <div class="row card-interna">
                <div class="col-6">
                    
                    <div class="form-group row" style="margin-top: 2.5%;">
                        <h6 class="col-5">Nombres:</h6>
                        <p class="col-7">{{cliente.names}}</p>
                    </div>

                    <div class="form-group row">
                        <h6 class="col-5">Apellidos:</h6>
                        <p class="col-7">{{cliente.surNames}}</p>
                    </div>

                    <div class="form-group row">
                        <h6 class="col-5">Correo Electronico:</h6>
                        <p class="col-7">{{cliente.email}}</p>
                    </div>

                    <div class="form-group row">
                        <h6 class="col-5">Identificación:</h6>
                        <p class="col-7">{{cliente.idDocument}}</p>
                    </div>

                    <div class="form-group row">
                        <h6 class="col-5">Estrato Economico:</h6>
                        <p class="col-7">{{cliente.classEconomic.numClassEconomic}}</p>
                    </div>

                    <div class="form-group row">
                        <h6 class="col-5">Ciudad:</h6>
                        <p class="col-7">{{cliente.city.name}}</p>
                    </div>

                    <div class="form-group row">
                        <h6 class="col-5">Pais:</h6>
                        <p class="col-7">{{cliente.city.country.name}}</p>
                    </div>

                    <div class="form-group row">
                        <h6 class="col-5">Rango Antiguedad:</h6>
                        <p class="col-7">{{cliente.rangeOld.rangeOld}}</p>
                    </div>
                </div>

                <div class="col-6">
                    <div class="table-responsive" style="margin-top: 15%;">
                        <h5 style="text-align: center;">Planes de Telefonia</h5>
                        <table class="table">
                            <thead>
                                <th>Nombre plan</th>
                                <th>Número de linea</th>
                                <th>Precio</th>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</section>