<section>

    <mat-card>
        <mat-card-title style="text-align: center;">
            Perfil Cliente
        </mat-card-title>

        <mat-card-content class="container">
            <div class="row card-interna" >
                <div class="col-6">
                    <div class="form-group" style="margin-top: 2.5%;">
                        <label>
                            <h5>Nombres:</h5>
                        </label>
                        <p>lksajdlkasjkld</p>
                    </div>

                    <div class="form-group">
                        <label>
                            <h5>Apellidos:</h5>
                        </label>
                        <p>lksajdlkasjkld</p>
                    </div>

                    <div class="form-group">
                        <label>
                            <h5>Correo Electronico:</h5>
                        </label>
                        <p>lksajdlkasjkld</p>
                    </div>

                    <div class="form-group">
                        <label>
                            <h5>Identificación:</h5>
                        </label>
                        <p>lksajdlkasjkld</p>
                    </div>

                    <div class="form-group">
                        <label>
                            <h5>Estrato Economico:</h5>
                        </label>
                        <p>lksajdlkasjkld</p>
                    </div>

                    <div class="form-group">
                        <label>
                            <h5>Ciudad:</h5>
                        </label>
                        <p>lksajdlkasjkld</p>
                    </div>

                    <div class="form-group">
                        <label>
                            <h5>Pais:</h5>
                        </label>
                        <p>lksajdlkasjkld</p>
                    </div>

                    <div class="form-group">
                        <label>
                            <h5>Rango Antiguedad:</h5>
                        </label>
                        <p>lksajdlkasjkld</p>
                    </div>
                </div>

                <div class="col-6">
                    <div class="table-responsive" style="margin-top: 15%;">
                        <h5 style="text-align: center;">Planes de Telefonia</h5>
                        <table class="table">
                            <thead>
                                <th>Nombre plan</th>
                                <th>Número de linea</th>
                                <th>Precio</th>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</section>