<div class="container-fluid d-flex justify-content-center ">
    <mat-card [formGroup]="formG" class="login-box">
        <mat-card-title>
            Ingreso sistema SILOKO CREDIT
        </mat-card-title>
        <mat-card-content >
            <mat-form-field color="accent">
                <input type="email" formControlName="email" matInput placeholder="Correo electronico">
                
                <mat-error *ngIf="hasErros('email')&& getFc('email').errors.required">{{messageError.getMessageEmailRequired()}}</mat-error>
                <mat-error *ngIf="hasErros('email')&& getFc('email').errors.pattern">{{messageError.getMessageEmailError()}}</mat-error>
               
            </mat-form-field>
            <br />
            <mat-form-field color="accent">
                <input type="password" formControlName="code" matInput placeholder="Codigo / Cedula" />
                <mat-error *ngIf="hasErros('code') && getFc('code').errors.required">{{messageError.getMessageRequired("(codigo/cedula)")}}</mat-error>
                <mat-error *ngIf="hasErros('code') && getFc('code').errors.pattern">{{messageError.getMessageRequiredNumber("(codigo/cedula)")}}</mat-error>
            </mat-form-field>
            <div style="padding: 12px 0px 0px 0px;">
            <label id="example-radio-group-label">Seleccione el tipo usuario:</label>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"  formControlName="rol" required>
                <mat-radio-button value="rol1" class="example-radio-button" >Funcionario SILOKO</mat-radio-button>
                <mat-radio-button  value="rol2" class="example-radio-button">Funcionario Almacen Convenio</mat-radio-button>
                <mat-radio-button  value="rol3" class="example-radio-button">Cliente SILOKO</mat-radio-button>
            </mat-radio-group>
            </div>

        </mat-card-content>

        <mat-card-actions>
            <div class="d-flex justify-content-center">
                <button (click)="onSubmit()" mat-raised-button class="color-binance" >Ingresar</button>
            </div>
        </mat-card-actions>
    </mat-card>

</div>