
    <div class="container">
    <mat-tab-group mat-align-tabs="center" backgroundColor="primary" style="width: 100%;">
        <mat-tab label="Perfil cliente">
            <app-perfil-cliente></app-perfil-cliente>
        </mat-tab>
        <mat-tab label="Gestión cupo de crédito">
            <app-gestion-cupo-cliente></app-gestion-cupo-cliente>
        </mat-tab>
        <mat-tab label="Historial solicitudes de crédito">
            <app-lista-solicitudes-credito></app-lista-solicitudes-credito>
        </mat-tab>
      </mat-tab-group>




